<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beehive.name %>
</p>

<h2>Cells</h2>
<%= render "cells/cell" %>

<h2>Add a cell:</h2>
<%= render "cells/form" %>

<%= link_to 'Edit', edit_beehive_path(@beehive) %> |
<%= link_to 'Back', beehives_path %>
